body {
	background-color: #fafafa;
	background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	text-align: center;
}

.container {
	padding: 50px 0;
}

.top-text {
	font-size: 25px;
	margin-bottom: 45px;
}

.top-text img {
	width: 100px;
}

.main-content-section {
	padding-top: 25px;
}
ul {
	margin-bottom: 5px;
	list-style: none;
	padding: 0;
}
li {
	display: inline-block;
	padding-right: 15px;
	padding-bottom: 15px;
}
li a {
	display: block;
	color: inherit;
	font-weight: 600;
	width: 100%;
	display: table;
}

img {
	width: 35px;
}

a:hover {
	text-decoration: none;
}
.main-content-card {
	background-color: #fff;
	height: 120px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	/*border: 1px solid #111;*/
	padding: 12px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	margin-bottom: 4px;
}

.content-card-image {
	width: 35px;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 15px;
}

.content-card-name {
	font-size: 10px;
	text-transform: uppercase;
	margin-top: 10px;
}

.carousel-control.right,.carousel-control.left {
	background: none;
	color: black;
}

.carousel-control.right span {
	margin-right: -25px;
	margin-top: -28px;
}

.carousel-control.left span {
	margin-left: -25px;
	margin-top: -28px;
}

.carousel-control span {
	border: 3px solid;
    padding: 3px;
    border-radius: 100%;
	font-size: 14px;
}

.speaker {
	position: absolute;
    right: 6px;
    top: 4px;
	width: 20px;
}

.shake img {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@media (max-width: 760px) {
	.row .col-xs-4 {
		padding-right: 0;
	}
	.main-content-card {
		height: auto;
	}
	.no-margin-right {
		margin-right: 0;
	}
	.speaker {
		position: absolute;
		right: 0px;
		top: 4px;
		width: 20px;
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}