<div class="row no-margin-right">
    <ul>
        <li ng-repeat="audio in playlists | filter:search" ng-click="audio.play()" class="col-lg-3 col-md-3 col-xs-4">
            <a href="#!" class="ripple" ng-class="{ 'shake': audio.playing }">
                <div class="main-content-card">
                    <div class="content-card-image">
                        <img src="img/speaker.gif" class="speaker" ng-if="audio.playing">
                        <img ng-src="{{audio.img}}" ng-alt="{{audio.name}}">
                    </div>
                    <div class="content-card-name hidden-xs" ng-bind="audio.name"></div>
                    <div class="visible-xs">
                        <div class="content-card-name" ng-if="audio.name.length < 9" ng-bind="audio.name"></div>
                        <div class="content-card-name" ng-if="audio.name.length > 8">
                            <marquee scrollamount="2"><span ng-bind="audio.name"></span></marquee>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>