<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Ayele</title>
    <!--<link rel="stylesheet" href="css/ripple.css">-->
    <meta name="fragment" content="!">
    <meta name="description" content="Play Nigerian sound memes like 'Ayele o' and 'chai' on your browser with an easy-to-use web app. Built with love by Faffers!" />
    <meta name="author" content="Faffers!">
    <meta name="keywords" content="Ayele,Memes,Nigerian,Sounds,Browser,Javascript">
    <link rel="canonical" href="https://seunsaber.github.io/ayele" />
    <meta property="og:url" content="https://seunsaber.github.io/ayele" />
    <meta property="og:title" content="Ayele" />
    <meta property="og:type" content="app" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Ayele" id="ogsitename" />
    <meta property="og:description" content="Nigerian sound memes playable on the browser as an extension" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary" />
    <!--<meta name="twitter:site" content="@ayele" />-->
    <meta name="twitter:title" content="Ayele" />
    <meta name="twitter:description" content="Nigerian sound memes playable on the browser as an extension" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="https://seunsaber.github.io/ayele" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut favicon" href="img/favicon.png" type="image/png">
    <link rel="manifest" href="manifest.json"> 
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./service-worker.js', {scope: './'})
          .catch(function(error) {
            console.error("something went wrong with the service-worker installation", error);
          });
      }
    </script>
</head>
<body>
    <div class="container">
        <div class="row no-margin">
            <div class="col-md-10 col-md-offset-1">
                <div class="top-text">
                    <img src="img/ayele-logo.png" alt="">
                    <!--Ayele!-->
                </div>
                <div ng-app='myApp' ng-controller="ctrl">
                <div>
                        <input type="search" class="" ng-model="search" placeholder="Search">
</div>
                    <div class="row no-margin-right">
                        <ul>
                            <li ng-repeat="audio in playlists | filter:search" ng-click="audio.play()" class="col-lg-2 col-md-3 col-xs-4">
                                <a href="#!" class="ripple" ng-class="{ 'shake': audio.playing }">
                                    <div class="main-content-card">
                                        <div class="content-card-image">
                                            <img src="img/speaker.gif" class="speaker" ng-if="audio.playing" >
                                            <img ng-src="{{audio.img}}" ng-alt="{{audio.name}}">
                                        </div>
                                        <div class="content-card-name hidden-xs" ng-bind="audio.name"></div>
                                        <div class="visible-xs">
                                            <div class="content-card-name" ng-if="audio.name.length < 9" ng-bind="audio.name"></div>
                                            <div class="content-card-name" ng-if="audio.name.length > 8">
                                                <marquee scrollamount="2"><span ng-bind="audio.name"></span></marquee>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>            
                        </ul>
                    </div>
                    <!--<button class="btn btn-default btn-large" ng-repeat="playlist in playlists" ng-click="play(playlist.url)">{{playlist.name}}</button>-->
                </div>  
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.module.js"></script>
    <script src="js/controllers/sounds.ctrl.js"></script>
</body>
</html>